<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    @Scripts.Render("~/bundles/modernizr")

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="YARD CHECK/EMPTY TRUCKS/TRAILERS">
    <meta name="keywords" content="YARD CHECK/EMPTY TRUCKS/TRAILERS">
    <meta name="author" content="ThemeSelect">
    <title>Dashboard - Yard check/empty trucks/trailers</title>
    <link rel="apple-touch-icon" href="theme-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/theme-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700" rel="stylesheet">
    <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="~/assets/theme-assets/css/vendors.css">
    <link rel="stylesheet" type="text/css" href="~/assets/theme-assets/vendors/css/charts/chartist.css">
    <link href="~/assets/theme-assets/vendors/css/tables/datatable/jquery.dataTables.min.css" rel="stylesheet" />
    <!-- END VENDOR CSS-->
    <!-- BEGIN CHAMELEON  CSS-->
    <link rel="stylesheet" type="text/css" href="~/assets/theme-assets/css/app-lite.css">
    <!-- END CHAMELEON  CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="~/assets/theme-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/assets/theme-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/assets/theme-assets/css/pages/dashboard-ecommerce.css">
    <!-- END Page Level CSS-->
    <link href="~/Content/custom/_index.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />

</head>
<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-chartbg" data-col="2-columns">
    @{ Html.RenderPartial("_TopNav"); }
    @*@{ Html.RenderPartial("_LeftNav"); }*@

    @RenderBody()

    @{ Html.RenderPartial("_Footer"); }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")

    @RenderSection("scripts", required: false)
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="~/assets/theme-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
    <script src="~/assets/theme-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/assets/theme-assets/js/scripts/tables/datatables/datatable-styling.min.js"></script>
    <!-- END PAGE LEVEL JS-->

    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script type="text/javascript" src="~/Scripts/custom/_index.js"></script>
</body>
</html>
